:root {
	--sl-color-accent: oklch(87.9% 0.1502 114.05);
	--sl-color-accent-high: oklch(87.9% 0.1502 114.05);
}

:root[data-theme="light"],
[data-theme="light"] {
	--sl-color-accent: oklch(32.75% 0.0457 195.15);
	--sl-color-accent-high: oklch(32.75% 0.0457 195.15);
}
